<div class="preset preset-user-item">
    <div class="title">Ebay</div>
    <form class="form">
        <h3>Token Data</h3>
        <div class="form-group">
            <label for="client_id">Client ID</label>
            <input type="text" class="form-control" name="client_id" value={{ p.params.client_id }}>
        </div>
        <div class="form-group">
            <label for="client_secret">Client Secret</label>
            <input type="text" class="form-control" name="client_secret" value={{ p.params.client_secret }}>
        </div>
        <div class="form-group">
            <label for="user_token">User Token</label>
            <input type="text" class="form-control" name="user_token" value={{ p.params.user_token }}>
        </div>
        <hr>
        <h3>Billing Address</h3>
        <div class="form-group">
            <label for="billing_first">First Name</label>
            <input type="text" class="form-control" name="billing_first" value={{ p.params.billing_first }}>
        </div>
        <div class="form-group">
            <label for="billing_last">Last Name</label>
            <input type="text" class="form-control" name="billing_last" value={{ p.params.billing_last }}>
        </div>
        <div class="form-group">
            <label for="billing_ad_1">Address</label>
            <input type="text" class="form-control" name="billing_ad_1" value={{ p.params.billing_ad_1 }}>
        </div>
        <div class="form-group">
            <label for="billing_city">City</label>
            <input type="text" class="form-control" name="billing_city" value={{ p.params.billing_city }}>
        </div>
        <div class="form-group">
            <label for="billing_state">State</label>
            <input type="text" class="form-control" name="billing_state" value={{ p.params.billing_state }}>
        </div>
        <div class="form-group">
            <label for="billing_zip">ZIP</label>
            <input type="text" class="form-control" name="billing_zip" value={{ p.params.billing_zip }}>
        </div>
        <div class="form-group">
            <label for="billing_country">Country</label>
            <input type="text" class="form-control" name="billing_country" value={{ p.params.billing_country }}>
        </div>

        <hr>
        <h3>Credit Card Info</h3>
        <div class="form-group">
            <label for="brand">Card Brand</label>
            <input type="text" class="form-control" name="brand" value={{ p.params.brand }}>
        </div>
        <div class="form-group">
            <label for="card_number">Card Number</label>
            <input type="text" class="form-control" name="card_number" value={{ p.params.card_number }}>
        </div>
        <div class="form-group">
            <label for="expire_month">Expiration Month (01-12)</label>
            <input type="text" class="form-control" name="expire_month" value={{ p.params.expire_month }}>
        </div>
        <div class="form-group">
            <label for="expire_year">Expiration Year (Last Two Digits)</label>
            <input type="text" class="form-control" name="expire_year" value={{ p.params.expire_year }}>
        </div>
        <hr>
        <h3>Product Info</h3>
        <div class="form-group">
            <label for="item_id">Item ID</label>
            <input type="text" class="form-control" name="item_id" value={{ p.params.item_id }}>
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text" class="form-control" name="quantity" value={{ p.params.quantity }}>
        </div>
        <hr>
        <h3>Shipping Address</h3>
        <div class="form-group">
            <label for="recipient">Recipient</label>
            <input type="text" class="form-control" name="recipient" value={{ p.params.recipient }}>
        </div>
        <div class="form-group">
            <label for="shipping_ad_1">Address</label>
            <input type="text" class="form-control" name="shipping_ad_1" value={{ p.params.shipping_ad_1 }}>
        </div>
        <div class="form-group">
            <label for="shipping_city">City</label>
            <input type="text" class="form-control" name="shipping_city" value={{ p.params.shipping_city }}>
        </div>
        <div class="form-group">
            <label for="shipping_state">State</label>
            <input type="text" class="form-control" name="shipping_state" value={{ p.params.shipping_state }}>
        </div>
        <div class="form-group">
            <label for="shipping_zip">ZIP</label>
            <input type="text" class="form-control" name="shipping_zip" value={{ p.params.shipping_zip }}>
        </div>
        <div class="form-group">
            <label for="shipping_country">Country</label>
            <input type="text" class="form-control" name="shipping_country" value={{ p.params.shipping_country }}>
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control" name="phone" value={{ p.params.phone }}>
        </div>
        {% csrf_token %}
        <button class="btn btn-preset-modify" type="submit" name="update" value="{{ p.preset.id }}" formmethod="post">
            Save
        </button>
    </form>
    <form>
        {% csrf_token %}
        <button type="submit" name="remove" value="{{ p.preset.id }}" formmethod="post"
                class="btn btn-default btn-preset-modify minus">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
    </form>

</div>