<div class="preset preset-user-item">
    <div class="title">Slack</div>
    <form class="form">
        <div class="form-group">
            <label for="webhook_url">Webhook URL</label>
            <input type="text" class="form-control" name="webhook_url" value="{{ p.params.webhook_url }}">
        </div>
        <div class="form-group">
            <label for="message">Message</label>
            <input type="text" class="form-control" name="message" value="{{ p.params.message }}">
        </div>
        {% csrf_token %}
        <button class="btn btn-preset-modify" type="submit" name="update" value="{{ p.preset.id }}" formmethod="post">Save
        </button>
    </form>
    <form>
        {% csrf_token %}
        <button type="submit" name="remove" value="{{ p.preset.id }}" formmethod="post"
                class="btn btn-default btn-preset-modify minus">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
    </form>

</div>