<div class="preset preset-user-item">
    <div class="title">Twilio</div>
    <form class="form">
        <div class="form-group">
            <label for="phone_number">Phone Number</label>
            <input type="text" class="form-control" name="phone_number" value={{ p.params.phone_number }}>
        </div>
        <div class="form-group">
            <label for="body">Text Content</label>
            <input type="text" class="form-control" name="body" value="{{ p.params.body }}">
        </div>
        {% csrf_token %}
        <button class="btn btn-preset-modify" type="submit" name="update" value="{{ p.preset.id }}" formmethod="post">Save
        </button>
    </form>
    <form>
        {% csrf_token %}
        <button type="submit" name="remove" value="{{ p.preset.id }}" formmethod="post"
                class="btn btn-default btn-preset-modify minus">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
    </form>

</div>