<div class="preset preset-user-item">
    <div class="title">Twitter</div>
    <a href="/config/twitter">Twitter login</a>
    <form class="form">
        <div class="form-group">
            <label for="consumer_key">Consumer Key</label>
            <input type="text" class="form-control" name="consumer_key" value={{ p.params.consumer_key }}>
        </div>
        <div class="form-group">
            <label for="consumer_secret">Consumer Secret</label>
            <input type="text" class="form-control" name="consumer_secret" value="{{ p.params.consumer_secret }}">
        </div>
        <div class="form-group">
            <label for="status">Tweet Content</label>
            <input type="text" class="form-control" name="status" value="{{ p.params.status }}">
        </div>
        {% csrf_token %}
        <button class="btn btn-preset-modify" type="submit" name="update" value="{{ p.preset.id }}" formmethod="post">Save
        </button>
    </form>
    <form>
        {% csrf_token %}
        <button type="submit" name="remove" value="{{ p.preset.id }}" formmethod="post"
                class="btn btn-default btn-preset-modify minus">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
    </form>

</div>