<div class="preset preset-user-item">
    <div class="title">Uber</div>
    <form class="form">
        <div class="form-group">
            <label for="access_token">Access Token</label>
            <input type="text" class="form-control" name="access_token" value={{ p.params.access_token }}>
        </div>
        <div class="form-group">
            <label for="end_longitude">End Longitude</label>
            <input type="text" class="form-control" name="end_longitude" value={{ p.params.end_longitude }}>
        </div>
        <div class="form-group">
            <label for="end_latitude">End Latitude</label>
            <input type="text" class="form-control" name="end_latitude" value={{ p.params.end_latitude }}>
        </div>
        <hr>

        {% csrf_token %}
        <button class="btn btn-preset-modify" type="submit" name="update" value="{{ p.preset.id }}" formmethod="post">
            Save
        </button>
    </form>
    <form>
        {% csrf_token %}
        <button type="submit" name="remove" value="{{ p.preset.id }}" formmethod="post"
                class="btn btn-default btn-preset-modify minus">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
    </form>

</div>