
{% load bootstrap3 %}
{% bootstrap_css %}
<link rel="stylesheet"  type="text/css" href="/static/css/login.css"/>

{% block content %}



<body>
    
        <div class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand"><h4>A button that does stuff</h4></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/"><h4>Home</h4></a></li>
                    </ul>
                    
                </div>
            </div>
        </div>
    
   <div class="content container">
       <div class="row"> 
           <div class="col-md-8"></div>
           <div class="col-md-4">
                <h2>Login</h2>
                <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                    <button type="submit">Login</button>
                </form>

                <p>
                    Don't have an account?
                    <a href="/config/signup">Register!</a>
                </p>
           </div>
       </div>
    </div>
</body>   
{% endblock %}