{% extends 'config/base.html' %}

{% block content %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<link rel="stylesheet"  type="text/css" href="/static/css/zoomdoc.css"/>

        
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    
<script>Highcharts.chart('container', {
    chart: {
        type: 'area',
        zoomType: 'x'
    },
    title: {
        text: 'Area'
    },
   subtitle: {
    text: 'drag to zoom'
    },
    credits: {
      enabled: false
  },
    xAxis: {
        type: 'datetime',
        tickmarkPlacement: 'on',
        title: {
            enabled: false
        },
        dateTimeLabelFormats: { 
            year: '%y-%m'
        },
    },
    yAxis: {
        title: {
            text: 'clicks'
        },
        labels: {
            formatter: function () {
                return this.value;
            }
        }
    },
    tooltip: {
        split: true
    },
    plotOptions: {
        area: {
            stacking: 'normal',
            lineColor: '#666666',
            lineWidth: 1,
            marker: {
                lineWidth: 1,
                lineColor: '#666666'
            }
        }
    },
series: [{
                name: 'Ebay',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        use = {{ebay}},
                        i;
                    for (i = 0; i < {{ebay|length}}; i++) {
                        data.push([
                             Date.UTC(use[i][0][0] + 100, use[i][0][0], use[i][0][0], use[i][0][0]),
                             use[i][1] 
                        ]);
                    }
                    return data;
                })()
            },
           {     name: 'Twitter',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        use = {{tweet}},
                        i;
                    for (i = 0; i < {{tweet|length}}; i++) {
                        data.push([
                             Date.UTC(use[i][0][0] + 100, use[i][0][0], use[i][0][0], use[i][0][0]),
                             use[i][1] 
                        ]);
                    }
                    return data; 
                })()
            },{
                name: 'Uber',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        use = {{uber}},
                        i;
                    for (i = 0; i < {{uber|length}}; i++) {
                        
                        data.push([
                             Date.UTC(use[i][0][0] + 100, use[i][0][0], use[i][0][0], use[i][0][0]),
                             use[i][1] 
                        ]);
                    }
                    return data;
                })()
            },{
                name: 'Twillio',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        use = {{twilio}},
                        i;
                    for (i = 0; i < {{twilio|length}}; i++) {
                        data.push([
                             Date.UTC(use[i][0][0] + 100, use[i][0][0], use[i][0][0], use[i][0][0]),
                             use[i][1] 
                        ]);
                    }
                    return data;
                })()
            },]
});</script>

{% endblock %}
