{% extends 'config/base.html' %}
{% load staticfiles %}

{% block content %}
<html>
    <head>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<link rel="stylesheet"  type="text/css" href="/static/css/zoomdoc.css"/>
   </head>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


<script>
    Highcharts.chart('container', {
    chart: {
        type: 'column',
        zoomType: 'x'
    },
    title: {
        text: 'Bar'
    },
    subtitle: {
    text: 'drag to zoom'
    },
    xAxis: {
        type: 'datetime',
        dateTimeLabelFormats: { 
            year: '%y-%m'
        },
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'clicks'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
  series: [{
                name: 'Ebay',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        use = {{ebay}},
                        i;
                    for (i = 0; i < {{ebay|length}}; i++) {
                        data.push([
                             Date.UTC(use[i][0][0] + 100, use[i][0][0], use[i][0][0], use[i][0][0]),
                             use[i][1] 
                        ]);
                    }
                    return data;
                })()
            },
           {     name: 'Twitter',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        use = {{tweet}},
                        i;
                    for (i = 0; i < {{tweet|length}}; i++) {
                        data.push([
                             Date.UTC(use[i][0][0] + 100, use[i][0][0], use[i][0][0], use[i][0][0]),
                             use[i][1] 
                        ]);
                    }
                    return data; 
                })()
            },{
                name: 'Uber',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        use = {{uber}},
                        i;
                    for (i = 0; i < {{uber|length}}; i++) {
                        
                        data.push([
                             Date.UTC(use[i][0][0] + 100, use[i][0][0], use[i][0][0], use[i][0][0]),
                             use[i][1] 
                        ]);
                    }
                    return data;
                })()
            },{
                name: 'Twillio',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        use = {{twilio}},
                        i;
                    for (i = 0; i < {{twilio|length}}; i++) {
                        data.push([
                             Date.UTC(use[i][0][0] + 100, use[i][0][0], use[i][0][0], use[i][0][0]),
                             use[i][1] 
                        ]);
                    }
                    return data;
                })()
            },]
});</script>

{% endblock %}