<!DOCTYPE html>
{% load bootstrap3 %}
{% load staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html>
    <head>
        <title>a button that does stuff</title>

        <link rel="stylesheet"  type="text/css" href="/static/css/pagechart.css"/>
    </head>

    <body>

       <div class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand"><h4>A button that does stuff</h4></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/"><h4>Home</h4></a></li>
                        <li><a href="/pagechart"><h4>Statistics</h4></a></li>
                        <li><a href="/settings"><h4>Settings</h4></a></li>
                    </ul>
                    <ul class="nav navbar-right">
                        <li><a href="#"><h4>log out</h4></a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        
        
        
        <div class="content container">
            <div class="row"> 
                <div class="col-md-1"></div>
             <div class="col-md-4">
                 <div class="bord">
                   <div class="feature-element"><a href="/pagechart/piechart"> <img src="/static/pics/pie.png" height="200" alt="Some image" width="290" > </a></div>
                      <div class="feature-hd"><a href="/pagechart/piechart"> <h3>Pie Chart</h3> </a></div>
                    </div>
                 </div>
                
                <div class="col-md-2">
                </div>    
                
                 <div class="col-md-4">
                 <div class="bord">
                   <div class="feature-element"><a href="/pagechart/barchart"> <img src="/static/pics/bar.png" height="200" alt="Some image" width="290" > </a></div>
                      <div class="feature-hd"><a href="/pagechart/barchart"> <h3>Bar Chart</h3> </a></div>
                    </div>
                 </div>
                <div class="col-md-1"></div>
            </div>  
        </div>

        <div class="content container">
            <div class="row">   
                <div class="col-md-1"></div>
             <div class="col-md-4">
                 <div class="bord">
                   <div class="feature-element"><a href="/pagechart/freqchart"> <img src="/static/pics/freq.png" height="200" alt="Some image" width="290" > </a></div>
                      <div class="feature-hd"><a href="/pagechart/freqchart"> <h3>Time Chart</h3> </a></div>
                    </div>
                 </div>
                
                <div class="col-md-2">
                </div>    
                
                 <div class="col-md-4">
                 <div class="bord">
                   <div class="feature-element"><a href="/pagechart/areachart"> <img src="/static/pics/area.png" height="200" alt="Some image" width="290" > </a></div>
                      <div class="feature-hd"><a href="/pagechart/areachart"> <h3>Area Chart</h3> </a></div>
                    </div>
                 </div>
                <div class="col-md-1"></div>
            </div>  
        </div>
        
        

    </body>
</html>

