{% extends 'pagechart/base.html' %}

<div id="post-115" class="post-115 page type-page status-publish hentry">
								
									
				
				<h2 class="entry-title"><a href="http://nancyboszhardtinc.com/press/" title="Press">Press</a></h2>
				
									<div class="entry-utility"><span class="entry-utility-prep entry-utility-prep-cat-links">Posted on</span> <span class="entry-date">February 4, 2013</span> <span class="meta-sep"></span></div>
				<div class="entry-content"><div class="textcontent">
								<style type="text/css">

<p><!-- READ THESE INSTRUCTIONS on editing this page: http://nancyboszhardtinc.com/wp-admin/post.php?post=286&action=edit --- ALWAYS click 'Preview Changes' before clicking 'Update' to make sure it works before you go live on the site. --></p>
<div class="floated_img"><a href="http://nancyboszhardtinc.com/wp-content/uploads/2015/03/CTCG_Architecture-Douglas-VanderHorn_0714.pdf" target="_blank"><img src="http://nancyboszhardtinc.com/wp-content/uploads/2015/03/CTCG-July2014.jpg">Connecticut Cottages &amp; Gardens</a></div>
<div class="floated_img"><a href="http://nancyboszhardtinc.com/wp-content/uploads/2015/03/Luxe-Interiors-Spring-2014.pdf" target="_blank"><img src="http://nancyboszhardtinc.com/wp-content/uploads/2015/03/Luxe-Interiors-Spring-20141.jpg">Luxe Interiors</a></div>
<div class="floated_img"><a href="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/Veranda-September-2009.pdf" target="_blank"><img src="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/Cover10.jpg">Veranda</a></div>
<div class="floated_img"><a href="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/House-Beautiful-October-2007.pdf" target="_blank"><img src="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/Cover5.jpg">House Beautiful</a></div>
<div class="floated_img"><a href="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/House-Beautiful-June-2008.pdf" target="_blank"><img src="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/Cover13.jpg">House Beautiful</a></div>
<div class="floated_img"><a href="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/House-Beautiful-April-2003.pdf" target="_blank"><img src="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/Cover9.jpg">House Beautiful</a></div>
<div class="floated_img"><a href="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/New-York-Spaces.pdf" target="_blank"><img src="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/Cover2.jpg">New York Spaces</a></div>
<div class="floated_img"><a href="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/House-and-Home.pdf" target="_blank"><img src="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/Cover3.jpg">House &amp; Home</a></div>
<div class="floated_img"><a href="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/House-and-Garden.pdf" target="_blank"><img src="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/Cover-1.jpg">House &amp; Garden</a></div>
<div class="floated_img"><a href="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/House-Beautiful-April-2011.pdf" target="_blank"><img src="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/Cover4.jpg">House Beautiful</a></div>
<div class="floated_img"><a href="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/House-Beautiful-November-2012.pdf" target="_blank"><img src="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/Cover15.jpg">House Beautiful</a></div>
<div class="floated_img"><a href="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/House-Beautiful-June-2010.pdf" target="_blank"><img src="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/Cover14.jpg">House Beautiful</a></div>
<div class="floated_img"><a href="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/House-Beautiful-June-2009.pdf" target="_blank"><img src="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/Cover11.jpg">House Beautiful</a></div>
<div class="floated_img"><a href="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/House-Beautiful-February-2009.pdf" target="_blank"><img src="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/Cover12.jpg">House Beautiful</a></div>
<div class="floated_img"><a href="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/House-Beautiful-April-2008.pdf" target="_blank"><img src="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/Cover16.jpg">House Beautiful</a></div>
<div class="floated_img"><a href="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/Clover.pdf" target="_blank"><img src="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/Cover7.jpg">Clover</a></div>
<div class="floated_img"><a href="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/Frette.pdf" target="_blank"><img src="http://nancyboszhardtinc.com/wp-content/uploads/2013/02/Cover8.jpg">Frette</a></div>
								</div></div><!-- .entry-content -->	
				<div class="clear"></div>
				<div class="entry-utility"></div>
			</div>