{% extends 'config/base.html' %}

{% block content %}

<html>
    <head>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<link rel="stylesheet"  type="text/css" href="/static/css/zoomdoc.css"/>
   </head>

<div id="container" style="min-width: 310px; height 400px; max-
width: 600px; margin; 0 auto"> </div>

<script> Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Browser market shares January, 2015 to May, 2015'
    },
        
    credits: {
      enabled: false
  },

    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Actions',
        colorByPoint: true,
        data: [{
            name: 'Twitter',
            y: {{context.0}}
        }, {
            name: 'Twillio',
            y: {{context.1}},
            sliced: true,
            selected: true
        }, {
            name: 'Uber',
            y: {{context.2}}
        }, {
            name: 'Ebay',
            y: {{context.3}}
        }]
    }]
});</script>

{% endblock %}