body {
    background-color: #f2f2f2;
    text-align: center;
}

.content.container {
    text-align: center;
    color: #a82121;
}




.preset {
    width: 100%;
    margin-top: 6pt;
    transition: 0.3s;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 6pt;
    padding-bottom: 6pt;
    color: whitesmoke;
    overflow: hidden;
    border: 3px solid white; 
}

.title {
    text-align: center;
    font-variant-caps: all-small-caps;
    font-weight: bolder;
    font-size: 20pt;
}

.preset-list-item {
    background-color: #052035;
    color: white;
}

.preset-user-item {
    background-color: #052035;
}

.preset:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.preset .btn-preset-modify {
    float: right;
    border-radius: 30px;
    border: none;
    background-color: #0e3859;
    color: white;
}

.minus {
    /* float: left !important; */
    /* float: left !important; */
    background-color: darkred !important;
}

/*HERE*/
.preset .preset-name {
    float: left;
    padding-left: 6pt;
    font-size: 18pt;
    font-variant-caps: all-small-caps;
    color: whitesmoke;
}

/* --- FORMS --- */

.form-group label {
    width: 35%;
    float: left;
}

.form-group .form-control {
    width: 60%;
    float: left;
}

.form-group input.form-control {
    border-radius: 0px;
    border: none;
    background-color: #DAFFEF;
    color: #082D0F;
    margin-bottom: 6pt;
}

/* --- NAVBAR ---*/

.navbar {
    background-color: black;
}

.navbar .navbar-brand, .navbar li a {
    color: whitesmoke!important;
    text-decoration-style: wavy;
}

.h3 {
    color: aqua;
}
/* Dropdown Button */
.dropbtn {
    background-color: #9b2626;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #9b2626;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.floated_img {
    float: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 200px;
    width: 220px;
    height: 380px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

/* get rid of the obnoxious bootstrap blue highlight */
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none !important;
}
