body {
    background-color: #f2f2f2;
    align-content: center;
    color: black;
}

.col-md-4 {
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 50px;
}

input, textarea{
    background-color:whitesmoke !important;
    color: black!important;
}

.navbar {
    background-color: black;
    
}

.navbar .navbar-brand, .navbar li a {
    color: whitesmoke!important;
    text-decoration-style: wavy;
}
