<!DOCTYPE html>
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<html>

    <head>
        <title>A button that does stuff</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% load staticfiles %}

        <link rel="stylesheet" href="{% static 'css/config.css' %}">


    </head>

    <body>

        <div class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand"><h4>A button that does stuff</h4></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li><a href="/"><h4>Home</h4></a></li>
                        {% if auth %}
                        <li><a href="/pagechart"><h4>Statistics</h4></a></li>
                        <li><a href="/settings"><h4>Settings</h4></a></li>
                        {% endif %}

                    </ul>
                    {% if auth %}
                    <ul class="nav navbar-right">
                        <li><a href="/logout"><h4>log out</h4></a></li>
                    </ul>
                    {% endif %}


                </div>
            </div>
        </div>
        <div class="content container">

            <div class="row" >
                <div class="col-md-8" >
                    {{ bootstrap_messages }}
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

        </div>
    </body>
</html>
