{% extends 'config/base.html' %}
{% load bootstrap3 %}

{% block content %}

<h1>Welcome back, {{ name }}.</h1>

<p>You pressed your button <strong>{{ press_count }}</strong> times.</p>

{% for p in all_presses %}

<p>{{ p }}</p>

{% endfor %}

    {{ custom_data }}
{% endblock %}
