{% extends 'config/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load preset_partials %}

{% block content %}
    <div class="col-md-4">
        <h1>All actions</h1>
        {% for p in all_presets %}
            <div class="row preset preset-list-item">
                <form>
                    {% csrf_token %}
                    <div class="preset-name">
                        {{ p }}
                    </div>
                    <button type="submit" name="add" value="{{ p }}" formmethod="post"
                            class="btn btn-default btn-preset-modify">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </form>
            </div>
        {% endfor %}
    </div>


    <div class="col-md-8">
        <h1>My actions</h1>


        <ul>
            {% for p in user_presets %}
                {% if p.preset.preset == 'twitter' %}
                    {% show_twitter p %}
                {% elif p.preset.preset == 'uber' %}
                    {% show_uber p %}
                {% elif p.preset.preset == 'twilio' %}
                    {% show_twilio p %}
                {% elif p.preset.preset == 'ebay' %}
                    {% show_ebay p %}
                {% elif p.preset.preset == 'slack' %}
                    {% show_slack p %}
                {% else %}
                    <div class="preset preset-user-item">
                        <div class="title">{{ p.preset.preset }}</div>
                        <form class="form-inline">
                            {% for k,v  in p.params.items %}
                                <div class="form-group">
                                    <label for="{{ k }}">
                                        {{ k }}
                                    </label>

                                    <input type="text" class="form-control" name="{{ k }}" value="{{ v }}">
                                </div>
                            {% endfor %}
                            {% csrf_token %}
                            <button class="btn btn-preset-modify" type="submit" name="update" value="{{ p.preset.id }}" formmethod="post">Save
                            </button>
                        </form>
                        <form>
                            {% csrf_token %}
                            <button type="submit" name="remove" value="{{ p.preset.id }}" formmethod="post"
                                    class="btn btn-default btn-preset-modify minus">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </form>
                    </div>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

{% endblock %}
