{% extends 'config/base.html' %}
{% load bootstrap3 %}

{% block content %}


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


<script> Highcharts.chart('container', {

    title: {
        text: 'Clicks over past week'
    },

        
    credits: {
      enabled: false
  },

    xAxis: {
        title: {
            text: 'Date'
        }
    },
        
    yAxis: {
        title: {
            text: 'Clicks'
        }
    },
        
        xAxis: {
        categories: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
    },
        
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },



    series: [ {
        name: 'Twitter',
        data: [0, 0, 0, 0, 1, 0, 0]
    }]

});</script>

{% endblock %}