
.preset-twitter {
    background-color: #00aced;
    color: navy;
}

.preset-uber {
    background-color: #222233;
    color: #c0c0c8;
}

.preset {
    width: 100%;
    margin-top: 6pt;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 6pt;
    padding-bottom: 6pt;
    color: black;
}

.preset:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.preset:nth-of-type(2n) {
    background-color: #eeeeee;
}

.preset:nth-of-type(2n-1) {
    background-color: #dddddd;
}

.preset .btn-preset-add {
    float: right;
    border-radius: 10px;
    background-color: lightblue;
}

.preset .preset-name {
    float: left;
    padding-left: 6pt;
    font-size: 18pt;
    font-variant-caps: all-small-caps;
    color: #232323;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.floated_img {
    float: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 200px;
    width: 220px;
    height: 380px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

