
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.feature-element {
   
}

body {
        background-color: #f2f2f2;
}
.col-md-6 {
    display: block;
    margin: auto;
    width: 40%;
}
.img {

}
.feature-hd {
    
}

.row {
    padding-bottom: 40px;
}
.bord {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
    align-content: center;   
    border: 1px solid gray;
    background-color: white;
   
}

.box box-standard {
    background-color: #fff;
    color: #4b5256;
}
p {
    color: whitesmoke;
    margin-left:30px;
    background-color:#4b5256;
}

h3 {
    color: black;
    align-content: center;
    margin-left: 110px;
    
}


/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

