.chart {
    zoomType: 'x'
}

body {
    background-color: #f2f2f2;
}

.container .{
   padding-right: 15px!important;
   padding-left: 300px!important;
   margin-left: auto;
   margin-right: auto;
}

